include requirements.txt
include requirements-plotting.txt
include requirements-test.txt
include CONTRIBUTING.md
include LICENSE
include dowhy/VERSION
recursive-include docs *
recursive-include tests *.py
