name: Build Docs (on demand)

on:
  issue_comment:
    types: [created, edited]

jobs:
  docs:
    runs-on: ubuntu-latest
    container:
      image: darthtrevino/dowhy-docs
      
    if: ${{ github.event.comment.body == 'build docs'}}
    steps:
      - uses: actions/checkout@main
        with:
          fetch-depth: 0 # otherwise, you will failed to push refs to dest repo

      - name: Install Python Dependencies  
        run: poetry install -E plotting -E causalml -E econml -E pydot --with docs

      - name: Build
        run: |
          # sphinx-multiversion invokes git internally. Its call to "git rev-parse --show-toplevel" throws the
          # following error: "fatal: detected dubious ownership in repository at '/__w/dowhy/dowhy'"
          # The following command avoids this.
          git config --global --add safe.directory /__w/dowhy/dowhy
          ./docs/generate_docs.sh
          
      - name: Commit and push to gh-pages branch
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./dowhy-docs
